<%- layout('layouts/boilerplate') %>
<div class="row">
  <div class="col-6">
    <div class="card my-3">
      <div class="container p-2">

        <img src="<%= campground.image %>" style="object-fit: contain;" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>
        <p class="card-text"><%= campground.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-gray"><%= campground.location %></li>
        <li class="list-group-item">₱<%= campground.price %></li>
      </ul>
      <div class="card-body">
        <a href="/campgrounds/<%= campground.id %>/edit" class="btn btn-warning card-link">Edit</a>
        <form class="d-inline" action="/campgrounds/<%= campground.id %>?_method=DELETE" method="post">
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
      <div class="card-footer text-gray">
        <a class="link-underline-opacity-0" href="/campgrounds">All Campgrounds</a>
      </div>
    </div>
  </div>

  <div class="col-6">
    <h2>Leave a Review</h2>
    <form action="/campgrounds/<%= campground.id %>/reviews" class="validate-form" method="post" novalidate>
      <div class="mb-3">
        <label for="rating">Rating</label>
        <input class="form-range" type="range" name="review[rating]" id="rating" min="0" max="5">
      </div>
      <div class="mb-3">
        <label class="form-label" for="body"></label>
        <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
        <div class="valid-feedback">
          Looks Good!
        </div>
      </div>
      <button class="btn btn-success">Submit</button>
    </form>

    <% campground.reviews.forEach(review => { %>
      <div class="card m-3">
      <div class="card-body d-flex flex-column gap-2 p-2">
        <h5>Rating: <%= review.rating %></h5>
        <p>Review: <%= review.body %></p>
        <form action="/campgrounds/<%= campground.id %>/reviews/<%= review.id %>?_method=DELETE" method="post"><button class="btn btn-sm btn-danger">Delete</button></form>
      </div>
    </div>
      <% }) %>

  </div>
</div>